<br /><br />
<div>
  <mat-form-field appearance="outline">
    <mat-label>Nowe zadanie: </mat-label>
    <input matInput type="text" [(ngModel)]="title" #newTitle />
    <mat-hint class="hints">Podaj nazwę nowego zadania</mat-hint>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Termin: </mat-label>
    <input
      matInput
      [(ngModel)]="deadline"
      type="text"
      [matDatepicker]="picker"
    />
    <mat-hint class="hints">Opcjonalna data wykonania</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
      autocomplete="off"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="addBtnClick()"
  >
    Dodaj
  </button>
</div>
<br />
<div id="newElements" *ngFor="let task of tasks">
  <mat-card class="divs">
    <div class="divs">
      <mat-card-header>
        <mat-card-subtitle> {{ task.deadline }} </mat-card-subtitle>
        <mat-card-title class="ps">{{ task.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <mat-checkbox
          id="{{ task.id }}"
          class="checkbox"
          labelPosition="before"
          [checked]="kurwa"
          (change)="switchTaskChanged($event)"
        >
          Wykonane
        </mat-checkbox>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
<br />
<button
  mat-raised-button
  disabled="true"
  type="button"
  (click)="archiveCompleted()"
>
  Archiwizuj wykonane
</button>
