/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/purple-green.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 50px 200px 0px 200px;
}

.mat-app-background {
  background-color: #303030;
  color: #fff;
}
