/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/purple-green.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 5% 20% 0px 20%;
}

.mat-app-background {
  background-color: #303030;
  color: #fff;
}
